{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-6 offset-md-3">
<form method="post" action="{% url 'login' %}" class="form-group">
    {% csrf_token %}
    {% for item in form %}
        <div class="form-group">
            <label for="{{item.id_for_label}}">{{item.label}}</label>
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
        </div>
    {% endfor %}
    <button type="submit" class="submit btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
</div>
{% endblock %}