<html>
<head></head>
<body>
  <a href="/bosyus/new/">登録</a>
  {% if bosyu_list %}
    <table>
      <tr>
        <td>id</td>
        <td>title</td>
        <td>募集区分</td>
        <td></td>
      </tr>
      {% for bosyu in bosyu_list %}
      <tr>
        <td><a href="/todos/{{ bosyu.bosyu_seq }}/">{{ bosyu.bosyu_seq }}</a></td>
        <td>{{ bosyu.title }}</td>
        <td>
            {% if bosyu.bosyu_kbn == "1" %}
            <p>勉強会</p>
            {% elif bosyu.bosyu_kbn == "2" %}
            <p>交流会</p>
            {% else %}
            <p>その他</p>
            {% endif %}
        </td>
        <td><a href="/todos/delete/{{ todo.bosyu_seq }}/">削除</a></td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>まだ募集がありません。</p>
      <p>ぜひ登録しましょう！</p>
      <a href="/bosyus/new/">登録</a>
  {% endif %}
  </body>
</html>