{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <p>　</p>
  <p class="text-center">『CuraOff.』は、オフの時間に社員間で集まるための"声を掛け合う場所"です。</p>
  <p class="text-center">まずは提案してみましょう！</p>
  <p>　</p>
  <p class="text-center"><button type="button" class="btn btn-warning">提案する！</button></p>
  <p>　</p>
  <hr><p class="text-center">提案一覧</p><hr>

  {% if bosyu_list %}
  <div class="card-deck" >
    <div class="row">

      {% for bosyu in bosyu_list %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="card h-100 ">
          {% if bosyu.status == "1" %}
          <span class="badge badge-info">募集中</span>
          {% else %}
          <span class="badge badge-secondary">募集終了</span>
          {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ bosyu.title }}</h5>
              {% if bosyu.bosyu_kbn == "1" %}
              <span class="badge badge-success">勉強会</span>
              {% elif bosyu.bosyu_kbn == "2" %}
              <span class="badge badge-primary">交流会</span>
              {% else %}
              <span class="badge badge-light">その他</span>
              {% endif %}
              <br><br>
              <span class="badge badge-pill badge-warning">　場所　</span>
              {{ bosyu.venue }}
              <br>
              <span class="badge badge-pill badge-warning">　日時　</span>
              {{ bosyu.venue_datetime }}
              <br><br>
              <span class="badge badge-pill badge-warning"> 募集期限 </span>
              {{ bosyu.bosyu_limit }}まで 
              <br><br>
              <a href="{% url 'blog:bosyu_detail' bosyu.bosyu_seq %}" class="btn btn-outline-success">詳細</a>
            </div>
        </div>

      </div>
      {% endfor %}

    </div>
  </div>  
  {% else %}
      <p>まだ募集がありません。</p>
      <p>ぜひ募集しましょう！</p>
      <p><button type="button" class="btn btn-warning">募集する！</button></p>
  {% endif %}


</div>
{% endblock %}